body {
    background-color: black;
    margin: auto;
padding: 0%;
}

h1{
    color: brown;
    text-align: center;
font-family: 'Courier New', Courier, monospace;
font-weight: 100;
font-style: italic;

}





